# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.log

# Virtual environments
.venv/
venv/
env/

# Environment / credentials
.env

# -------------------------
# Jupyter Notebooks
# -------------------------
.ipynb_checkpoints/
.jupyter/

# -------------------------
# VS Code
# -------------------------
.vscode/
.history/

# -------------------------
# OS-specific files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Local data (never commit raw data)
# -------------------------
/data/

# -------------------------
# Cache directories
# -------------------------
.cache/
.pytest_cache/
.mypy_cache/

# -------------------------
# Instructions
# -------------------------
Project_workflow.md

# -------------------------
# Test files
# -------------------------
test.ipynb

# -------------------------
# Notebooks
# -------------------------
notebooks/EDA_WRDS.ipynb